// * Colores
$negro: #000;
$blanco: #fff;
$morado: #A435F0;
$gris: #F8F9FB;
$gris-oscuro: #6A6F73;
$naranja: #B4690E;

// * Tipografia
$fuente-heading: 'Kaisei HarunoUmi', serif;
$fuente-textos: Arial, Helvetica, sans-serif;



// *Reescribir Colores

$secondary: $naranja;
$success: $morado;
$light: $gris;
$dark: $negro;

// *Reescribir Tipografia
$font-size-root: 62.5%;

$headings-font-family: $fuente-heading;
$headings-font-weight: 700;

$h2-font-size: 3rem;
$h3-font-size: 2.6rem;

// *Formulario 
$input-border-color: $dark;
$input-btn-padding-y: .5rem;
$btn-padding-y: .5rem;
$btn-padding-x: 1.5rem;
// *Importando Bootstrap 

@import '../../node_modules/bootstrap/scss/bootstrap.scss';